#app, body{
  font: 1em 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: auto;
  background-color: #EAECF0 !important;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

a.active {
  color: orange;
}

nav {
  padding-top: 1vh;
  background-color: #2d94c1 !important;
  border-color: #2d94c1 !important;
}

.tile h2 {
  font-size: 1.9vh;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  text-align: left;
  padding-left: 25px;
  padding-top: 20px;
  margin: 0;
  height: 4.2vh;
  background-color: white;
}
.line {
    height: 0.2vh;
    width: 100%;
    background-color: #EAECF0;
}

.archetype-container, .tagline-body {
    margin: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 3vh;
    background-color: white;
}
.archetype-image {
    background-size: contain;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}
.archetype-name {
    height: 3vh;
    line-height: 3vh;
    text-transform: uppercase;
    color: white;
    margin-bottom: 2vh;
}
.archCol {
  /*width:33%;*/
}

.tagline-title {
  margin-top:0.8vh;
}

.tagline-body {
  padding:2vh;

}

.col-lg-2 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.three-arch {
  padding-top: 2vh;
  /*padding-left: 3vh;*/
}
.strength {
  display: inline-block;
  padding: 8px 7px 7px 30px;
  border-radius: 5px;
  color: #313D4E;
  text-transform: uppercase;
  height: 16px;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  background: url(./../images/icon-grey-star.png) no-repeat;
  background-color: #F3F4F6;
  background-position: 0.8vh center;
  background-size: 17px;
  margin: 5px;
  text-align: right;
  text-transform: uppercase;
  height: 2.4vh;
}




/* Widget */


#fitscore-apple-link  {
  border-color: #ff6363 !important;
}

#fitscore-android-link {
   border-color: #fb3 !important;
}

.btn-primary {
  padding: 11px 0;
  width: 130px;
}

.gc-btn-red {
  border: 0;
  background-color: #ff6363 !important;
  color: #fff;
  padding: 13px 40px;
  border-radius: 3px;
  transition: all .1s ease-in-out;
}

.dnld-icon {
  font-size: 2rem;
  float: left;
  height: 10px;
  margin: -7px 0 0 12px;
}

.gc-btn-orange {
  border: 0;
  background-color: #fb3 !important;
  color: #fff; 
  padding: 13px 40px;
  border-radius: 3px;
  transition: all .1s ease-in-out;
}   

.ProfileAvatar {
  background: #fff;
  border: 5px solid #fff;
  border-radius: 12px;
  box-shadow: 0 1px 1px rgba(136,153,166,0.15);
  height: 200px;
  position: relative;
  width: 200px;
  display: table;
  margin: 0 auto;
}

.ProfileAvatar-image {
  border-radius: 8px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
} 

.twitter-handler {
  color: #8899a6;
  margin-bottom: 2em;
}
.twitter-name {
  font-size: 2em;
  color: #313D4E;
  font-weight: 500;
}
.twitter-avatar {
  text-align: center;
}
.text-widget {
/*  display: table;
*/  margin: 0 auto;
}
